.form {
    background-color:rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 350px;
    padding: 3rem  1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.form div {
    display: flex;
    width: 100%;
    gap: 5px;
    position: relative;
    flex-direction: column;
}

.form div input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.1);
    color: rgb(226, 227, 235);
}

label {
    position: absolute;
    transform: translateX(25px) translateY(7.5px);
    transition: .5s;
    color: white;
    font-size: 14px;
}

input:focus ~ label ,
input:valid ~ label {
    font-size: 12px;
    transform: translateY(-20px) translateX(3px);
}
.button {
    align-self: center;
    font-size: 1.1rem;
    padding: 15px 35px;
    border : none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgba(35, 35, 189, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    transform: translateX(5px) translateY(-32px);
    color: rgb(157, 166, 209);
}