.header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 150px;
    height: auto;
}
.logoName{
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
.divLogin {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.divLogin a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}
 li{
    transition: 6s 
}
 li:hover {
    color: black;
    transition: 5s
;}
.button {
    font-size: 1.1rem;
    padding: 15px 35px;
    border : none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 35, 189);
    border-radius: 5px;
    cursor: pointer;
    
}
